<%
if product.videos.length > 1
	for video in product.videos
		videoReference = video_reference(video)
%>
	<a href="Javascript:void(0);" data-video-id="<%=video.youtube_ref%>"><%=image_tag(videoReference.thumbnails.first.url, :width => 75)%></a>
<%
	end
end 
%>
