<div id="product-videos">
	<div id="video-player">
		<%= render 'video_player', :product => product %>
	</div>
	<div id='video-thumbnails'>
		<%= render 'video_thumbnails', :product => product%>
	</div>
</div>
