<h1><%= h @product.name %> Videos</h1>

<table>
  <tr>
    <th>Youtube ref</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.youtube_ref %></td>
    <td><%= video.watchable %></td>
    <td><%= link_to 'Show', video %></td>
  </tr>
<% end %>
</table>
